{% assign current_path = page.path %}
{% assign current_url = page.url %}
{% assign is_fa = current_path contains '/ai-fa/' %}

<div class="lang-switcher">
  {% if is_fa %}
    <!-- الان نسخه فارسی هستی -->
    <a class="btn" href="{{ current_url | replace:'/ai-fa/','/ai/' | relative_url }}">
      English Version
    </a>
  {% else %}
    <!-- الان نسخه انگلیسی هستی -->
    <a class="btn" href="{{ current_url | replace:'/ai/','/ai-fa/' | relative_url }}">
      نسخه فارسی
    </a>
  {% endif %}
</div>
